.card {
  background: var(--color-bg-card);
  border-radius: 20px;
  box-shadow: var(--shadow-card);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.filtersManager {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.button {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}